.summary {
  width: 50%;
  margin: 0 auto;
  background-color: black;
  color: white;
  opacity: 0.85;
  padding: 1rem 2rem;
  margin-top: -15rem;
  border-radius: 16px;
}

.summary-heading {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.summary-desc {
  font-size: 22px;
}

@media (max-width: 850px) {
  .summary {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .summary-heading {
    font-size: 20px;
  }

  .summary-desc {
    font-size: 18px;
  }
}
