.cart-items-list {
  padding: 0.25rem 0;
  max-height: 20rem;
  overflow: auto;
}

div.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.empty-cart-svg {
  height: 20rem;
  width: auto;
}

@media (max-width: 850px){
  img.empty-cart-svg {
    height: 15rem;
    width: auto;
  }
}

p.empty-cart-text{
  font-size: 20px;
  font-weight: bold;
}

.cart-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.cart-total-amount {
  justify-self: center;
}

.cart-total-price {
  justify-self: center;
}

.cart-total-price {
  color: #933a16;
}

.cart-action {
  display: flex;
  justify-content: space-around;
}

.cart-action button {
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  background-color: white;
  width: 20%;
}

.cart-action-close {
  border: 1px solid #e24c06;
  color: #e24c06;
}

.cart-action-close:hover,
.cart-action-close:active {
  background-color: #e24c06;
  color: white;
}

.cart-action-order {
  color: #097969;
  border: 1px solid #097969;
}

.cart-action-order:hover,
.cart-action-order:active {
  background-color: #097969;
  color: white;
}

@media (max-width: 780px) {
  .cart-action button {
    width: auto;
  }
}
