.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  backdrop-filter: blur(5px);
  animation: fade 0.25s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  width: 100%;
  z-index: 15;
  top: 30%;
  transform: translateY(-30%);
  animation: fade 0.5s;
  max-height: 95vh;
  overflow-y: auto;
}
